/* Wide view */

@font-face { 
	font-family: "Paytone One"; 
	src: url('PaytoneOne.ttf'); 
}

html {
    background-color: #e1e1e1;
    scroll-behavior: smooth;
}

body {
    background-color: #e2efff; 
    margin: 0px;
    color: #004483;
    font-family: 'Futura', 'Verdana', 'Helvetica', sans-serif;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 120%;
    align-items: bottom;
}

header a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a:hover {
    color: #586c7e;
}

footer {
    margin-top: 32px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
}

footer h3 a:hover {
    color:#586c7e;
}

footer h3 a {
    text-decoration: underline;
}

#footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-info #links {
    display: flex; 
    flex-direction: row;
    gap: 40px;
}

.icon {
    max-width: 40px;
}

#links a {
    padding: 0;
    margin: 0;
    max-width: 40px;
    max-height: 40px;
}

#linkedin {
    padding-top: 7px;
    padding-right: 0px;
}

#email {
    padding-top: 7px;
    margin-left: 7px;
}

#medium {
    max-width: 55px;
}

#mediumlink {
    width: 55px;
    height: 55px;
}

#header-name {
    max-width: 150px;
}

h1 {
    font-family: "Paytone One", serif;
}

h2 {
    font-family: "Paytone One", serif;
}

/* HOME PAGE */

#home-welcome {
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 60px;
    padding-bottom: 100px;
}

#home-welcome h1 {
    font-size: 300%;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    margin-top: 32px;
}

#home-welcome #button-container {
    padding: 20px;
}

button {
    color: #004483;
    border: 3px solid;
    border-radius: 20px;
    background: none;
    font-weight: medium;
    font-family: 'Futura', 'Verdana', 'Helvetica', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
}

button a {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}

button :hover {
    background-color: #004483;
    color: #fdfdfd;
    border: 0px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 60px;
    padding-top: 20px;
}

#project-section {
    background-color: #FDFDFD;
    padding-left: 200px;
    padding-right: 200px;
}

.project {
    background-color: FDFDFD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    font-size: 105%;
}

.project img {
    max-width: 550px;
    border-radius: 10px;
}

.project div p {
    font-size: larger;
    margin: 0px;
    margin-bottom: 24px;
}

.project div h2 {
    font-size: 180%;
    margin-top: 0px;
    margin-bottom: 12px;
}

.project div h6 {
    font-size: 85%;
    margin-top: 0px;
    margin-bottom: 20px;
}

#project-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ABOUT PAGE */

#profile {
    max-width: 300px;
}

#about-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#about-intro h1 {
    font-size: 180%;
}

#about-intro p {
    font-size: larger;
}

#experience-activities {
    margin-top: 48px;
    background-color: #FDFDFD;
    padding: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    font-size: larger;
}

#experience-activities div {
    width: 450px;
}

#experience-activities div h2 {
    margin-bottom: 30px;
}

#experience-activities div ul li {
    list-style: none;
}

#experience-activities div ul li h4 {
    margin-bottom: 0px;
}

#experience-activities div ul li p {
    margin-top: 8px;
    margin-bottom: 40px;
}

#superlatives {
    background-color: #fdfdfd;
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: larger;
    align-items: center;
}

#superlatives h2 {
    margin-top: 0px;
}

#superlatives ul li {
    margin-top: 20px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

#collage {
    max-width: 550px;
}

#intro-text p a:hover {
    color:#586c7e;
}

#intro-text p a {
    text-decoration: underline;
}