/* Wide view */
html {
    background-color: #e1e1e1;
}

body {
    background-color: #e2efff; 
    margin: 0px;
    color: #004483;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
